* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D3C4D1;
    text-align: center;
}
.msg-container{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
#msg {
    color: white;
    font-size: 8vmin;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #56CBF9;
    color: white;
    border-radius: 1.2rem;
    border: none;
}

h1 {
    color: #56CBF9;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin
}

.box1 {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #FF729F;
    background-color: white;
}

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #56CBF9;
    color: white;
    border-radius: 1.2rem;
    border: none;
}
.hide{
    display: none;
}
